<ng-container *ngIf="board$ | async as board">
  <ako-kanban-toolbar></ako-kanban-toolbar>
  <div
    class="board__lists"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="moveList($event)"
    cdkDropListGroup
  >
    <ako-kanban-list
      *ngFor="let list of board.lists; trackBy: trackById; index as listIndex"
      [list]="list"
      (addTask)="addTaskToList(listIndex)"
      (titleChanged)="updateTitleInList(listIndex, $event)"
      (remove)="removeList(listIndex)"
      cdkDrag
      cdkDragPreviewContainer="parent"
    >
      <ako-kanban-drag-handle
        slot="dragHandle"
        cdkDragHandle
      ></ako-kanban-drag-handle>
      <ako-kanban-list-tasks-wrapper
        class="board__list__task-wrapper"
        cdkDropList
        [cdkDropListData]="listIndex"
        (cdkDropListDropped)="moveTask($event)"
      >
        <ako-kanban-task
          *ngFor="
            let task of list.tasks;
            index as taskIndex;
            trackBy: trackById
          "
          [task]="task"
          (remove)="removeTaskFromList(listIndex, taskIndex)"
          (updateDescription)="
            updateTaskDescription(listIndex, taskIndex, $event)
          "
          cdkDrag
          cdkDragPreviewContainer="parent"
        ></ako-kanban-task>
      </ako-kanban-list-tasks-wrapper>
    </ako-kanban-list>
  </div>
</ng-container>
